@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

html {
  font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.illustration {
  background-image: url("../images/illustration-sign-up-desktop.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 500px) {
  .illustration {
    background-image: url("../images/illustration-sign-up-mobile.svg");
  }
}

ul li:before {
  background-image: url("../images/icon-list.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

dialog .sucess-ico {
  background-image: url("../images/icon-success.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
