
/*  RESET  */
img { max-width: 100%; object-fit: contain; }
* { box-sizing: border-box; }
body, main { margin: 0; }
fieldset { border: none; }

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
