@import url(https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap);


html {
  font-family: 'Josefin Sans';
}

.summary section:nth-child(1) {
  background-image: url("../images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 90% top;
  background-size: 25%;
}
.summary section:nth-child(2) {
  background-image: url("../images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 90% top;
  background-size: 25%;
}
.summary section:nth-child(3) {
  background-image: url("../images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: 90% top;
  background-size: 25%;
}
.summary section:nth-child(4) {
  background-image: url("../images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: 90% top;
  background-size: 25%;
}
.summary section:nth-child(5) {
  background-image: url("../images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: 90% top;
  background-size: 25%;
}
.summary section:nth-child(6) {
  background-image: url("../images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: 90% top;
  background-size: 25%;
}